@import url('https://fonts.googleapis.com/css2?family=Andada+Pro:ital@1&display=swap');

:root {
   --green:#27ae60;
   --black:#e32411;
   --light-color:#666;
   --box-shadow:0 .5rem 1.5rem rgba(0,0,0, .1);
}

body {
   font-family: "Gill Sans", sans-serif;
   margin: auto; padding: inherit;
   box-sizing: border-box;
   text-decoration: none;
   outline: none; border: none;
   transition: all .2s linear;
   color: black;
   background-color: #F6F1E9;
}
.html {
   font-size: 70%;
   overflow-x:hidden;
   scroll-padding-top: 5.5rem;
   scroll-behavior: smooth;
}
*::selection{
   color:var(--white);
   background-color: var(--main-color);
}

::-webkit-scrollbar{
   width: 1rem;
   height: .5rem;
}

::-webkit-scrollbar-track{
  background-color: none;
}

::-webkit-scrollbar-thumb{
   background-color: white;
}
.login{
   border: 2px solid red;
   width: 90%;
   height: 32rem;
   margin: 4% auto;
   padding: 10px;
   overflow: auto;
   box-sizing: border-box;
   border-radius: 25px;
}
.login-box{
   position: relative;
   left: 75%;
}

.col-4{
   width: 18%;
   margin: 1%;
   padding: 2%;
   float: left;
}

.text-center{
   border-radius: 25px;
   text-align: center;
   font-size: large;
   background-color: rgb(247, 230, 177);
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.20);
}
.text-center:hover{
    transition: all .3s ease-in-out;
    transform: scale(1.1);
} 
.btn-primary a{
   margin-top: .2rem; 
   background-color: #FF8400;
   padding: .5rem;
   color: black;
   text-decoration: none;
   font-weight: bold;
   border-radius: 25px;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.30);
}
.btn-primary:hover{
    transition: all .3s ease-in-out;
    transform: scale(1.1);
}
.main-content{
   background-color: #F6F1E9;
   padding: 3% 0;
   margin-left: 2.5rem;
}

.wrapper{
   align-items: center;
}
.tbl-full{
   width: 97%;
   margin-right: 3rem;
   text-align: center;

}
.headers{
    text-align: center;
    background-color: #ffd324;
    padding: .5rem;
    border-radius: 5px;
    font-weight: 300;
}
.table-content{
    background-color: rgb(247, 230, 177);
}
.manage-drink-icons-update{
    width: 2rem ;
    height: 2rem ;
    padding: .2rem ;
    padding-left: .3rem;
    padding-right: .3rem;
    background-color: #ece7d6;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
}
.manage-drink-icons-delete{
    width: 2rem ;
    height: 2rem ;
    padding: .2rem ;
    padding-left: .3rem;
    padding-right: .3rem;
    background-color: #ece7d6;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
}
.manage-drink-icons-delete:hover, 
.manage-drink-icons-update:hover{
    transition: all .3s ease-in-out;
    transform: scale(1.2);
}
.btn,
.delete-btn,
.option-btn{
   display: block;
   margin-top: 1rem;
   border-radius: .5rem;
   cursor: pointer;
   width: 100%;
   font-size: 17px;
   color:var(--white);
   padding:0.2rem 0rem;
   text-transform: capitalize;
   text-align: center;
   text-decoration: none;
}

.btn{
   background-color: #FF8400;
}

.delete-btn{
   background-color: var(--red);
}

.option-btn{
   background-color: var(--orange);
}

.btn:hover,
.delete-btn:hover,
.option-btn:hover{
   background-color: var(--black);
}

.flex-btn{
   display: flex;
   gap:1rem;
}

.message{
   position: sticky;
   top:0;
   max-width: 1200px;
   margin:0 auto;
   background-color: var(--light-bg);
   padding:1rem;
   display: flex;
   align-items: center;
   gap:1rem;
   justify-content: space-between;

}

.message span{
   font-size: 1rem;
   color:var(--black);
}

.message i{
   font-size: 2.5rem;
   color:var(--red);
   cursor: pointer;
}

.message i:hover{
   color:var(--black);
}

.heading{
   
   text-align: center;
   margin-top: -1rem;
   margin-bottom: 4rem;
   text-transform: capitalize;
   color:black;
   font-size: 3rem;
   padding: 1rem;
   padding-left: .3rem;
   padding-right: .3rem;
   background-color: #ffd83e;
   margin-right: 2rem;
   border-radius: .6rem;

}

.empty{
   border:var(--border);
   border-radius: .5rem;
   background-color: var(--white);
   padding:1.5rem;
   text-align: center;
   width: 100%;
   font-size: 2rem;

   color:var(--red);
   box-shadow: var(--box-shadow);
}

.form-container{
   display: flex;
   align-items: center;
   justify-content: center;
   min-height: 100vh;
}

.form-container form{
   background-color: var(--white);
   border-radius: .5rem;
   border:var(--border);
   box-shadow: var(--box-shadow);
   padding:2rem;
   text-align: center;
   width: 50rem;
}

.form-container form h3{
   font-size: 2.5rem;
   color:var(--black);
   text-transform: capitalize;
   margin-bottom: 1rem;
}

.form-container form p{
   margin:1rem 0;
   font-size: 2rem;
   color:var(--light-color);
}

.form-container form p span{
   color:var(--main-color);
}

.form-container form .box{
   width: 100%;
   background-color: var(--light-bg);
   padding:1.4rem;
   font-size: 1.4rem;
   color:var(--black);
   margin:1rem 0;
   border:var(--border);
   font-size: 1.8rem;
   border-radius: .5rem;
}

.header{
   position: sticky;
   top:0; left:0; right:0;
   background-color: #F6F1E9;
   box-shadow: var(--box-shadow);
   z-index: 1000;
   border-bottom: var(--border);
}

.header .flex{
   display: flex;
   align-items: center;
   justify-content: space-between;
   position: relative;
}

.header .flex .logo{
   font-size: 2.5rem;
   color:var(--black);
}

.header .flex .logo span{
   color:var(--main-color);
}

.header .flex .navbar a{
   margin:0 .5rem;
   font-size: 20px;
   color:black;
   text-decoration: none;
   text-transform: capitalize;
   
}

.header .flex .navbar a:hover{
   background-color: #FFD93D;
   border-radius: .5rem;
   padding: 1rem;
   transition:none;
   transform:none;
}

.header .flex .icons > *{
   font-size:20px;
   cursor: pointer;
   color:black;
   margin-left: 2rem;
   margin-right: 2rem;
}

.header .flex .icons > *:hover{
   color:var(--main-color);
   transition: all .2s ease-in-out;
   transform: scale(1.5);
}

.header .flex .profile{
   position: absolute;
   top:97%; right:-1rem;
   background-color:#F6F1E9;
   box-shadow: var(--box-shadow);
   border:var(--border);
   border-radius: .5rem;
   padding:2rem;
   padding-top: 1rem;
   width: 12rem;
   display: none;
   animation: fadeIn .2s linear;
}

@keyframes fadeIn {
   0%{
      transform: translateY(1rem);
   }
}

.header .flex .profile p{
   margin-bottom: 1rem;
   font-size: 20px;
   text-align: center;
   color:orange;
}

.header .flex .profile.active{
   display: inline-block;
}

#menu-btn{
   display: none;
}

.dashboard .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
   gap:1.5rem;
   align-items: flex-start;
}

.dashboard .box-container .box{
   text-align: center;
   background-color: var(--white);
   border:var(--border);
   box-shadow: var(--box-shadow);
   border-radius: .5rem;
   text-align: center;
   padding:1.5rem;
}

.dashboard .box-container .box h3{
   font-size: 2.7rem;
   color:var(--black);
}

.dashboard .box-container .box h3 span{
   font-size: 2rem;
}

.dashboard .box-container .box p{
   padding:1.5rem;
   border-radius: .5rem;
   background-color: var(--light-bg);
   border-radius: .5rem;
   font-size: 1.8rem;
   border:var(--border);
   margin:1rem 0;
   color:var(--light-color);
}

.add-products form{
   margin:0 auto;
   max-width: 33rem;
   background-color: white;
   border-radius: .5rem;
   box-shadow: var(--box-shadow);
   border:var(--border);
   padding:1rem;
   text-align: center;
}

.add-products form h3{
   margin-bottom: 1rem;
   font-size: 2.5rem;
   color:var(--black);
   text-transform: capitalize;
}

.add-products form .box{
   background-color:bisque;
   border:var(--border);
   width: 100%;
   font-size: 20px;
   color:var(--black);
   border-radius: .5rem;
   margin: 1rem 0;
}

.show-products .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, 33rem);
   gap:1.5rem;
   justify-content: center;
   align-items: flex-start;
}

.show-products .box-container .box{
   background-color: var(--white);
   border-radius: .5rem;
   box-shadow: var(--box-shadow);
   border:var(--border);
   padding:1.5rem;
}

.show-products .box-container .box img{
   width: 100%;
   height: 20rem;
   object-fit: contain;
   margin-bottom: 1rem;
}
.dashboardicons img{
    width: 2.5rem !important;
    height: 2.5rem !important;
}

.show-products .box-container .box .name{
   font-size: 2rem;
   color:var(--black);
   padding:1rem 0;
}

.show-products .box-container .box .flex{
   display: flex;
   align-items: center;
   gap:1rem;
   justify-content: space-between;
}

.show-products .box-container .box .flex .category{
   font-size: 1.8rem;
   color:var(--main-color);
}

.show-products .box-container .box .flex .price{
   font-size: 2rem;
   color:var(--black);
   margin:.5rem 0;
}

.show-products .box-container .box .flex .price span{
   font-size: 1.5rem;
}

.update-product form{
   margin:0 auto;
   max-width: 50rem;
   background-color: var(--white);
   border-radius: .5rem;
   box-shadow: var(--box-shadow);
   border:var(--border);
   padding:2rem;
}

.update-product form img{
   height: 25rem;
   width: 100%;
   object-fit: contain;
}

.update-product form .box{
   background-color: var(--light-bg);
   border:var(--border);
   width: 100%;
   padding:1.4rem;
   font-size: 1.8rem;
   color:var(--black);
   border-radius: .5rem;
   margin: 1rem 0;
}

.update-product form textarea{
   height: 15rem;
   resize: none;
}

.update-product form span{
   font-size: 1.7rem;
   color:var(--black);
}

.placed-orders .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, 33rem);
   gap:1.5rem;
   justify-content: center;
   align-items: flex-start;
}

.placed-orders .box-container .box{
   background-color: var(--white);
   border-radius: .5rem;
   box-shadow: var(--box-shadow);
   border:var(--border);
   padding:2rem;
   padding-top: 1rem;
}

.placed-orders .box-container .box p{
   padding: .5rem 0;
   line-height: 1.5;
   font-size: 1.8rem;
   color:var(--black);
}

.placed-orders .box-container .box p span{
   color:var(--main-color);
}

.placed-orders .box-container .box .drop-down{
   width: 100%;
   margin:1rem 0;
   background-color: var(--light-bg);
   padding:1rem 1.4rem;
   font-size: 2rem;
   color:var(--black);
   border:var(--border);
   border-radius: .5rem;
}

.accounts .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, 33rem);
   gap:1.5rem;
   justify-content: center;
   align-items: flex-start;
}

.accounts .box-container .box{
   background-color: var(--white);
   border-radius: .5rem;
   box-shadow: var(--box-shadow);
   border:var(--border);
   padding:2rem;
   padding-top: 1rem;
   text-align: center;
}

.accounts .box-container .box p{
   padding: .5rem 0;
   font-size: 1.8rem;
   color:var(--black);
}

.accounts .box-container .box p span{
   color:var(--main-color);
}

.messages .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, 33rem);
   gap:1.5rem;
   justify-content: center;
   align-items: flex-start;
}

.messages .box-container .box{
   background-color: var(--white);
   border-radius: .5rem;
   box-shadow: var(--box-shadow);
   border:var(--border);
   padding:2rem;
   padding-top: 1rem;
}

.messages .box-container .box p{
   padding: .5rem 0;
   font-size: 1.8rem;
   color:black
}

.messages .box-container .box p span{
   color:white;
}

/* media queries  */

@media (max-width:991px){

   html{
      font-size: 55%;
   }

}

@media (max-width:768px){

   #menu-btn{
      display: inline-block;
   }

   .header .flex .navbar{
      position: absolute;
      top:99%; left:0; right:0;
      border-top: var(--border);
      border-bottom: var(--border);
      background-color: #F6F1E9;
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
      transition: .2s linear;
   }

   .header .flex .navbar.active{
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
   }

   .header .flex .navbar a{
      display: block;
      margin:2rem;
   }

   .header .flex .navbar a:hover{
      transition:none;
        transform:none;
     }
}

@media (max-width:450px){

   html{
      font-size: 50%;
   }

   .flex-btn{
      flex-flow: column;
      gap:0;
   }

   .heading{
      font-size: 3rem;
   }

   .show-products .box-container{
      grid-template-columns: 1fr;
   }

   .placed-orders .box-container{
      grid-template-columns: 1fr;
   }

   .accounts .box-container{
      grid-template-columns: 1fr;
   }
   .header .flex .navbar a:hover{
      transition:none;
        transform:none;
     }

}